.formField {
  width: 100%;
  max-width: 380px;
  margin-bottom: 20px;

  .formFieldSmall {
    width: 48%;
  }
}
.selectField {
  :global {
    .ant-select {
      width: 100%;
    }
  }
}

@include sm-max {
  .formField {
    max-width: 350px;
  }
}

@include xs-max {
  .formField {
    max-width: 100%;
  }
}
