.root {
  margin: 0 auto;
}

.title {
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
}
.subscriptionCards {
  margin-top: 40px;
}
.bottomText {
  margin: 57px 0 80px 0;
  text-align: center;
}
