.layoutPage {
  margin: auto auto;
  width: 100%;
  max-width: 780px;
  min-height: calc(100% - 110px);
  padding: 15px 0;
}

.internalWrp {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
}
