.root{
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  padding-top: 44px;
}

.title{
  max-width: 343px;
}
.content {
  width: 100%;
  margin: -20px;
}

.selectedType {
  background: white;
  border: none;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.section{
  padding: 50px 0;
  width: 100%;
  border-bottom: 1px solid #cfcfcf;
}

.list {
  margin-bottom: 50px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
}

.searchComponent{
  margin-bottom: 40px;
}

.radioBtn {
  width: 100%;
  &:not(:first-child) {
    margin-top: 0px!important;
  }
}

.radioBtnHeader {
  font-weight: 700;
  font-size: 16px;
}

.formFieldDataPicker {
  position: relative;
}

.info{
  margin-top: 50px;
}

.itemWrp{
 
}