

.mainWrp {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 114px;
}

.advantagesWrp{
  width: 100%;
  max-width: 1190px;
}

.item{
  margin-bottom: 79px;
}

.title{
  line-height: 39px;
  margin-bottom: 97px;
}
