.header{
  width: 100%;
  margin-bottom: 60px;
}
.title{
  max-width: 343px;
  min-height: 50px;
}

.wrp{
  margin: 0 -20px;
}
.item{
  display: grid;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  width: 100%;
  max-width: 580px;
  min-height: 296px;
  padding: 38px 84px 48px 47px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 20px;
  transition: 1s;
}

.btn{
  max-width: 128px;
  height: 40px;
}

.description{
  color: $light-grey-color;
  font-weight: 400;
}

.selectedType {
  background: white;
  border: none;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);

}
.selectedTypeBtn{
  border: none!important;
  display: flex;
  align-items: center;
  background: transparent;

  svg {
    width: 24px;
    margin-right: 10px;
  }
}
