.madalWrp{
  max-width: 1180px;
}
.body{
  padding: 40px 80px;
}
.acceptIcon{
  font-size: 110pt;
  color: $price-color
}

.content{
  margin-top: 45px;
}

.icon{
  margin-bottom: 45px;
}

.btn{
  max-width: 135px;
}

.title{
  max-width: 750px;
}

