


.stepNumber {
  color: $primary-color;
  font-size: $font-size-sm;
  font-weight: 500;
}

.title {
  font-size: $font-size-xl;
  font-weight: 500;
  color: $info-color;
}

.search {
  position: relative;
  width: 240px;

  :global {
    .ant-select-selection-item {
      display: none;
    }
  }
}

.stepsContent {
  min-height: 400px;
  margin-top: 30px;
}

.stepsAction {
  margin-top: 56px;
  position: relative;
}
.btnBack {
  left: 0;
  position: absolute;
  max-width: 180px;
}

.btnNext {
  right: 0;
  position: absolute;
  width: 150px;
  height: 40px;
}

@include xs-max {
  .titleWrp {
    margin-bottom: 15px;
  }
  .search {
    width: 100%;
  }
}
