

.root {
  width: 100%;
  max-width: 320px;
  margin: auto auto;
}

.shadowTitle {
  text-align: center;
  font-size: $font-size-xl;
  color: $info-color;
  font-weight: 500;
}
.formField {
  margin-top: 24px;
}

.btnWide {
  width: 100%;
}
.textField {
  text-align: center;
  margin-top: 39px;
  margin-bottom: 70px;
}
.errorFormField {
  border-color: $error-color;
}
