.root {
  width: 100%;
  padding: 20px 130px 40px;
  margin: 0 auto;
  border-bottom: 1px solid $default-color;
}

.select {
  align-self: center;
  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background-color: #f7fcf6;
    }
    .ant-select-selection-placeholder {
      color: black;
    }
    .ant-select-arrow {
      top: 20px;
    }
  }
}
.item {
  &:nth-child(1) {
    flex-basis: 65%;
  }
  &:nth-child(2) {
    justify-content: flex-end;
    flex-basis: auto;
  }
  &:nth-child(3) {
    flex-basis: 32%;
    margin-top: 15px;
    .select {
      margin-left: 25px;
    }
  }
  &:nth-child(4) {
    justify-content: flex-end;
    margin-top: 15px;
    flex-basis: auto;
  }
}

.burger {
  display: none;
}
.burgerOpen {
  display: flex;
}

@include lg-max {
  .root {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@include sm-max {
  .root {
    padding-right: 16px;
    padding-left: 16px;
  }
  .nav {
    display: none;
  }
  .item {
    &:nth-child(1) {
      flex-basis: 0%;
      order: 2;
    }
    &:nth-child(2) {
      order: 4;
    }
    &:nth-child(3) {
      order: 1;
      margin-top: 0;
      flex-basis: 40%;
    }
    &:nth-child(4) {
      margin-top: 0;
      flex-basis: 0%;
      order: 3;
    }
  }
  .currenciesTab {
    display: none;
  }
  .burger {
    display: flex;
  }
}

@include xs-max {
  .select {
    display: none;
  }
  .item {
    &:nth-child(3) {
      order: 1;
      margin-top: 0;
    }
  }
}
