
.root{
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  padding-top: 44px;
}

.contentWrp{
  width: 100%;
}

.form{
  width: 100%;
}

.stepsAction {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 70px;
}

.btnNext {
  max-width: 180px;
}
.btnPrev {
  max-width: 187px;
}

.content {
  width: 100%;
}

.header{
  width: 100%;
  margin-bottom: 60px;
}